# Documentation static site generator
mkdocs >=1.2.3, ==1.2.*
mkdocs-git-revision-date-localized-plugin

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material

Pygments
