h1 {
  color: white;
}



h3 {

  color: white;
  font-weight: 900;
  background: linear-gradient( 45deg, #FF0090, #FF0090, #DADADA ); "
}

body {
  background-color: #DADADA;
}

p {
  color: black;
}
